.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article--card {
    align-items: center;
    flex-wrap: nowrap;
    min-height: 400px;
}

.article--subtract {
    flex: .8;
}

.article__headline {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 64px;
    font-weight: bold;
}

.article__headline--tagged::before {
    content: '\003C';
}

.article__headline--tagged::after {
    content: '\003E';
}

.article__headline--small {
    font-family:  'Space Grotesk', sans-serif;
    font-size: 20px;
    opacity: 50%;
    font-weight: normal;
}

.article__headline--medium {
    font-size: 36px;
    letter-spacing: 2px;
    text-transform: inherit;
}

.article__headline--dark {
    color: #1D3557;
}

.article__headline--thin {
    font-weight: lighter;
}

/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .article__headline--main{
        font-size: 36px;
        line-height: 1.7;
    }

    .article__headline--small {
        font-size: 17px;
        letter-spacing: 3px;
    }
}


.article__text {
    font-size: 28px;
    margin-top: -1%;
    font-weight: lighter;
}

/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .article__text {
        font-size: 17px;
        margin-bottom: 10%;
    }
}

.article__text--medium {
    font-size: 22px;
}

/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .article__text--medium {
        font-size: 17px;
    }
}

.article__headline--medium {
    font-size: 24px;
}

/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .article__headline--medium {
        font-size: 20px;
    }
}

.article__text--dark {
    color: #457B9D;
}

.article__text--subtract {
    width: 70%;
}

/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .article__text--subtract {
        width: 95%;
    }
}

.article__button {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 17px 27px;
    border: 2px #547291 solid;
    border-radius: 10px;
    position: relative;
    transition: all .4s ease-in-out;
}

/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .article__button {
        font-size: 14px;
        animation: button 3s ease-in-out 3s infinite;
    }

    /* button keyframes animation */
    @keyframes button {
        0%   {
            border-color: white;
        }
    }
}

.article__button:hover {
    border-color: white;
}

.article__button--dark {
    background: #1d355756;
    border-color: #7DB1D1;
}

.article__button::before, .article__button::after {
    position: absolute;
    display: block;
    content: ' ';
    background: #547291;
    height: 2px;
    width: 16px;
    transition: all .4s ease-in-out;
}

.article__button::before {
    left: 0;
    top: 46%;
}

.article__button:hover:hover::before {
    left: 122px;
    background: white;
}

.article__button::after {
    right: 0;
    top: 46%;
}

.article__button:hover::after {
    right: 122px;
    background: white;
}