.card {
    margin-top: -30%;
    max-width: 550px;
    width: 100%;
    min-height: 1120px;
    padding: 5%;
    background: white;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    z-index: 1;
}

/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .card {
        padding: 20% 5%;
        max-width: 84%;
        justify-content: flex-start;
        min-height: 600px;
    }
}

.card--dark {
    background: linear-gradient(0.25turn, #26446e, #1D3557);
    z-index: 0;
}

/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .card--dark {
        margin-top: -5%;
    }
}

.card--contact {
    background: #457B9D;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    max-width: 64%;
    min-width: 550px;
    padding: 3%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
    text-align: left;
}

/* Breakpoint for medium screen ( 1000px and down) */

@media only screen and (max-width: 1000px) {
    .card--contact {
        flex-direction: column;
    }
}

/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .card--contact {
        width: 46%;
        min-width: 10%;
        margin-left: 15%;
        padding: 10%;
        margin-top: -10%;
    }
}

.card__list-title {
    opacity: 50%;
}

.card__list-title--light {
    color: #1D3557;
}

.card__list {
    list-style: none;
    padding: 0;
}