.icons {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.icons__item {
    flex: 1;
}

.icons__image {
    max-width: 100px;
    height: auto;
    filter: sepia(100%);
    opacity: 50%;
    transition: all .3s ease;
}

.icons__image:hover {
    opacity: 100%;
    filter: sepia(0);
}

/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .icons__image {
        filter: sepia(0);
        opacity: 100%;
    }
}