*::selection {
    background: #1D3557;
    color: white;
}

body {
    max-width: 1600px;
    margin: auto;
    font-family:  'Space Grotesk', sans-serif;
    color: white;
    background: linear-gradient(0.25turn, #26446e, #1D3557);
    position: relative;
    box-shadow: 1px 1px 900px rgba(0, 0, 0, 0.4);
}
