*::selection {
    background: #457B9D;
    color: #1D3557;
}

body {
    max-width: 1600px;
    margin: auto;
    font-family:  'Space Grotesk', sans-serif;
    background: linear-gradient(0.25turn, #26446e, #1D3557);
    color: white;
    letter-spacing: 2px;
}