.section {
    margin: 0;
    padding: 10% 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section--wider {
    padding: 10% 10%;
}

.section--lighter {
    background: #457B9D;
    align-items: center;
    padding-bottom: 30%;
}

/* Breakpoint for medium screen ( 1000px and down) */
@media only screen and (max-width: 1000px) {
    .section--lighter {
        flex-direction: column;
    }
}

.section--main {
    padding-top: 17%;
    padding-bottom: 15%;
    position: relative;
}

.section__video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 10%;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
}

/* Breakpoint for medium screen ( 1000px and down) */

@media only screen and (max-width: 1000px) {
    .section--main {
        flex-direction: column;
    }
}

/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .section--main {
        padding: 30% 15%;
    }
}


.section--cards {
    background: #A8DADC;
    justify-content: center;
    align-items: flex-start;
}

/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .section--cards {
        flex-direction: column;
        padding-bottom: 25%;
    }
}

.section--contact {
    background: #457B9D;
}

.section--bottom {
    flex-direction: column;
    align-items: stretch;
    padding-top: 5%;
    padding-bottom: 1%;
}

.section__figure {
    margin: 0;
    position: relative;
}

.section__figure--illustration {
    width: 60%;
    height: auto;
    min-width: 400px;
}

/* Breakpoint for medium screen ( 1000px and down) */
@media only screen and (max-width: 1000px) {
    .section__figure--illustration {
        margin-bottom: 10%;
        align-self: center;
    }
}

/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .section__figure--illustration {
        min-width: 246px;
        margin-top: -32%;
    }
}

.section__figure--bottom {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

/* Breakpoint for medium screen ( 1000px and down) */

@media only screen and (max-width: 1000px) {
    .section__figure--bottom {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.section__figure--picture {
    border-radius: 17px;
    height: 440px;
    width: 440px;
    object-fit: none;
    object-position: 50% 5%;
    transition: all .6s ease-in-out;
}

/* Breakpoint for medium screen ( 1000px and down) */

@media only screen and (max-width: 1000px) {
    .section__figure--picture {
        margin-top: 20%;
        align-self: flex-start;
    }
}

/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .section__figure {
        align-self: flex-start;
    }

    .section__figure--picture {
        border-radius: 17px;
        height: 246px;
        width: 246px;
        object-fit: cover;
        pointer-events: none;
    }
}

.section__figure--picture:hover {
    object-position: 50% 15%;
    filter: blur(1px) brightness(90%);
}

.section__picture-caption {
   position: absolute;
   bottom: 0;
   left: 15%;
   z-index: -1;
   opacity: 0;
   pointer-events: none;
   background: linear-gradient(0.25turn, #26446e, #1D3557);
   transition: all .6s ease-in-out;
}

/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .section__picture-caption {
        z-index: 1;
        opacity: 1;
        font-size: 12px;
        left: 0;
        bottom: 5%;
        width: 100%;
        text-align: center;
        opacity: 60%;
        letter-spacing: 1px;
    }
}

.section__figure--picture:hover + .section__picture-caption {
    bottom: 5%;
    opacity: 1;
    z-index: 1;
}

.section__caption {
    margin-left: 3%;
}