.section {
    margin: 0;
    padding: 10% 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section--wider {
    padding: 10% 10%;
}

.section--lighter {
    background: #457B9D;
    align-items: center;
    padding-bottom: 30%;
}

.section--main {
    background: url(/assets/img/code-background.png) no-repeat center;
    background-size: cover;
    margin-top: -10%;
    padding-top: 17%;
    padding-bottom: 15%;
}

.section--cards {
    background: #A8DADC;
    justify-content: center;
    align-items: flex-start;
}

.section--contact {
    background: #457B9D;
}

.section--bottom {
    flex-direction: column;
    align-items: stretch;
    padding-top: 5%;
    padding-bottom: 1%;
}

.section__figure {
    position: relative;
}

.section__figure--bottom {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.section__figure--picture {
    border-radius: 17px;
    width: 440px;
    height: 440px;
    object-fit: none;
    object-position: 50% 5%;
    transition: all .6s ease-in-out;
}

.section__figure--picture:hover {
    object-position: 50% 15%;
    filter: blur(1px) brightness(90%);
}

.section__picture-caption {
   position: absolute;
   bottom: 0;
   left: 15%;
   z-index: -1;
   opacity: 0;
   pointer-events: none;
   background: linear-gradient(0.25turn, #26446e, #1D3557);
   transition: all .6s ease-in-out;
}

.section__figure--picture:hover + .section__picture-caption {
    bottom: 5%;
    opacity: 1;
    z-index: 1;
}

.section__caption {
    margin-left: 3%;
}