.top-bar {
    padding: 3% 10%;
}


/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .top-bar {
        padding-top: 10%;
    }
}

.top-bar__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .top-bar__navigation--header {
        justify-content: center;
    }
}


.top-bar__navigation--lighter {
    opacity: 60%;
    transition: all .4s ease-in-out;
}

.top-bar__navigation--lighter:hover {
    transform: translateY(-2px);
    text-shadow:  1px 5px 15px black;
    opacity: 100%;
}

.top-bar__logo {
    max-width: 56px;
    width: 100%;
    background: #457B9D;
    border: 0.750em solid #457B9D;
    border-radius: 0.650em;
    transition: all .4s ease-in-out;
}

.top-bar__logo:hover {
    transform: translateY(-2px);
    box-shadow:  1px 1px 15px black;
    filter: brightness(110%);
}

.top-bar__navigation-item {
    text-decoration: none;
    color: #F1FAEE;
}

.top-bar__navigation-item--righty {
    flex: .8 ;
    text-align: right;
}

.top-bar__navigation-item--button {
    text-decoration: none;
    text-transform: uppercase;
    color: #F1FAEE;
    position: relative;
    font-weight: bold;
    font-size: 18px;
    opacity: 70%;
    transition: all .4s ease-in-out;
}

/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .top-bar__navigation-item--button {
        display: none;
    }
}

.top-bar__navigation-item--button:hover {
    transform: translateY(-2px);
    text-shadow:  1px 5px 15px black;
    opacity: 100%;
}

.top-bar__navigation-item--button::before {
    position: absolute;
    display: block;
    content: ' ';
    height: 2px;
    width: 16px;
    background: #547291;
    left: -27px;
    top: 50%;
    transition: all .4s ease-in-out;
}

.top-bar__navigation-item--button:hover::before {
    left: 100px;
    background: white;
}

.top-bar__conclusion {
    margin-top: 10%;
    opacity: 80%;
    text-align: center;
}

.top-bar__links {
    color: #1D3557;
    text-decoration: none;
    opacity: 100%;
    position: relative;
    transition: all .4s ease-in-out;
}

.top-bar__links:hover {
    color: #ffed00;
}

.top-bar__links::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: ' ';
    width: 105%;
    height: 100%;
    left: -5px;
    top: 0;
    background: #ffed00;
    transition: all .4s ease-in-out;
}

/* Breakpoint for small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .top-bar__links::after {
        left: -2px;
        width: 102%;
    }
}